
*.cache
*.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/SafeControl.csproj.FileListAbsolute.txt
obj/Debug/SafeControl.csproj.GenerateResource.Cache
obj/Debug/SafeControl.exe
obj/Debug/SafeControl.pdb
bin/Debug/SafeControl.exe
bin/Debug/SafeControl.pdb
obj/Debug/SafeControl.csproj.GenerateResource.Cache
*.exe
*.pdb
bin/Debug/SafeControl.exe.locked
bin/Debug/SafeControl.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/SafeControl.exe
obj/Debug/SafeControl.pdb
bin/Debug/Database/Connect.txt
bin/Debug/Database/CopyDataBaseConfig.txt
bin/Debug/SafeControl.exe.locked
bin/Debug/SafeControl.pdb
obj/Debug/SafeControl.csproj.FileListAbsolute.txt
obj/Debug/SafeControl.csproj.GenerateResource.Cache
obj/Debug/SafeControl.exe
bin/Debug/SafeControl.exe.locked
bin/Debug/SafeControl.pdb
obj/Debug/SafeControl.csproj.FileListAbsolute.txt
obj/Debug/SafeControl.csproj.GenerateResource.Cache
obj/Debug/SafeControl.exe
